<!DOCTYPE html>

<html {% if page_class is defined %}class='{{ page_class }}'{% endif %}>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Place this data between the <head> tags of your website -->
    <meta name="description" content="Meet and chat with like-minded Redditors." />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Reddimatch">
    <meta itemprop="description" content="Where Redditors Meet.">
    <meta itemprop="image" content="http://www.reddimatch.com/images/twitter.png">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@reddimatch">
    <meta name="twitter:title" content="Reddimatch">
    <meta name="twitter:description" content="Where Redditors Meet.">
    <!-- Twitter summary card with large image must be at least 280x150px -->
    <meta name="twitter:image:src" content="http://www.reddimatch.com/images/twitter.png">

    <!-- Open Graph data -->
    <meta property="og:title" content="Reddimatch" />
    <meta property="og:url" content="http://www.reddimatch.com/" />
    <meta property="og:image" content="{{url_for('static', filename='images/facebook.png')}}" />
    <meta property="og:description" content="Where Redditors Meet." />
    <meta property="og:site_name" content="Reddimatch" />


    <title>{{title}}</title>
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{{url_for('static', filename='js/vendor/bootstrap.min.js')}}"></script>
  </head>

  <body>

    {% if current_user.is_authenticated %}
      <div class="navbar navbar-fixed-top">
        <div class="container-fluid">

          <div class="navbar-header">
              <a class="navbar-brand" href="/">
                <img src="{{url_for('static',filename='images/logo-beta.svg')}}" alt="reddimatch">
              </a>
            </div>

            <div id="main-nav">
              <ul class="nav navbar-nav pull-right">
                <li><a class="notifications" href="{{ url_for('messages') }}"><span class="matches_icon">{% if current_user.get_notifications() %}<span class="count">{{current_user.get_notifications()|count}}</span>{% endif %}</span></a></li>
                <li class="dropdown">
                  <a href="{{ url_for('dashboard') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.username}}<span class="caret"></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('dashboard')}}">My Profile</a></li>
                    <li><a href="{{ url_for('match')}}">Match</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
      </div>
    {% endif %}

    <div class="{% block container %}{% endblock %}">

      {% block content %}{% endblock %}

    </div>

    {% block scripts %}
    {% endblock %}

    <a href="mailto:reddimatch@gmail.com?subject=Feedback"><div id="feedback">Feedback <span class="glyphicon glyphicon-chevron-right"></span></div></a>

    {% if config['PRODUCTION'] %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-65241814-1', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}

  </body>
</html>
