<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8">
    <title>Reddimatch - Where redditors meet!</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
   <script src="http://code.jquery.com/jquery-latest.js"></script>
   <script src="/static/js/bootstrap.min.js"></script>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

    {% if current_user.is_authenticated() %}
      <div class="navbar navbar-default">
        <div class="container-fluid">

          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">reddimatch</a>
            </div>

            <div class="collapse navbar-collapse" id="main-nav">
              <ul class="nav navbar-nav">
                <li class="dropdown">
                  <a href="{{ url_for('dashboard') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{g.user.username}}<span class="caret"></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ url_for('match')}}">Match</a></li>
                    <li><a href="{{ url_for('dashboard')}}">Dashboard</a></li>
                    <li><a href="{{ url_for('matches')}}">Your Matches</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>
      </div>
    {% endif %}

    <div class="container">
      {% block content %}{% endblock %}

      <footer class="text-center"><small>Copyright &copy; reddimatch, Inc. 2015</small></footer>

    </div>

  </body>
</html>

<!-- TODO: move to external js file -->
<script type="text/javascript" src="/static/js/socket.io.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io.connect('http://' + document.domain + ':' + location.port);
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
        console.log('connected');
    });
</script>

<script>
function match(element, match) {
  $.post('/accept', {
    match: match
  }).done(function(matched) {
    console.log('success');
    $(element).parent().parent().parent().css("background-color","#AFEAAF")
    $(element).parent().parent().parent().after("<div class='text-center'><small>" + match + " has been added to your matches!</br> <a href='/matches'>Go ahead and introuce yourself.</a></small></div>")
  }).fail(function(){
    console.log('fail');
  });
}

function no_match(element, match) {
  $(element).parent().parent().parent().css("background-color","#FF6D6D")
  $(element).parent().parent().parent().after("<div class='text-center'><small>You won't be matched with this person again.</small></div>")
}

$("a.yes-match").on("click", function() {
  var match_username = $(this).attr("data-username")
  match(this, match_username)
});

$("a.no-match").on("click", function() {
  var match_username = $(this).attr("data-username")
  no_match(this, match_username)
});
</script>
