{% extends "base.html" %}
{% block container%}container-fluid{% endblock %}
{% block page_class%}class="dashboard_page"{% endblock %}
{% block content %}

{% if current_user.is_authenticated() %}

<div class="row">

  <h1>Your Profile</h1>

</div>


<div class="register row">

  <div class="avatar">

    <img src="{{ current_user.avatar(300) }}">

    <span class="choose glyphicon glyphicon-camera"></i>

  </div>

  <div class="register_form">
    {% from "_formhelpers.html" import render_field %}
    <form class="col-sm-12" id="registration" method=post action="/register" data-parsley-validate>

        <div class="row">

          <div class="field username col-sm-6">
            {{ render_field(form.username,placeholder='Username',value=current_user.username)}}
          </div>

          <div class="field email col-sm-6">
            {% if current_user.email is defined %}
              {{ render_field(form.email, placeholder='you@example.com', value=current_user.email) }}

            {% else %}
                {{ render_field(form.email, placeholder='you@example.com') }}

            {% endif %}
          </div>

        </div>

        <div class="row bio">

          <div class="field bio col-sm-12">
            {% if current_user.bio is defined %}
              {% set f = form.bio.process_data(current_user.bio) %}

            {{ render_field(form.bio, placeholder="Tell your matches a little bit about yourself. Don't be shy!") }}

            {% endif %}
          </div>
        </div>


        <div class="row favorite_subs">

          <h4 class="col-sm-12">Favorite Subs</h4>


          {% with favs = current_user.favorited_subs() %}

            {% for idx in range(0, 3)%}

            <div class="field sub col-sm-4">

              {% if favs[idx] %}
                {{ render_field(form['favorite_sub_' + (idx+1)|string], value=favs[idx].name, placeholder='Favorite Sub ' + (idx+1)|string)}}

              {% else %}
                {{ render_field(form['favorite_sub_' + (idx+1)|string], placeholder='Favorite Sub ' + (idx+1)|string)}}

              {% endif %}

            </div>

            {% endfor %}

          {% endwith %}

          <!-- <span class="add_sub glyphicon glyphicon-plus"></span> -->

        </div>

    </form>
  </div>

</div>

{% endif %}

{% endblock %}
