{% extends "base.html" %}
{% block container %}container-fluid{% endblock %}
{% block content %}

{% if current_user.is_authenticated() %}

<div class="row">

  <h3>Your Public Profile</h3>

</div>


<div class="register row">

  <div class="avatar">

    <img src="{{ current_user.avatar(300) }}">

    <span data-toggle="modal" data-target="#gravatar" class="choose glyphicon glyphicon-camera"></span>

    <!-- Modal -->
    <div class="modal fade" id="gravatar" tabindex="-1" role="dialog" aria-labelledby="gravatarLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gravatarLabel">Your Avatar</h4>
          </div>
          <div class="modal-body">
            <p>Reddimatch supports Gravatar, the Globally Recognized Avatar, and will use the Gravatar registered with your provided email address.</p>

            <p><strong>To learn more or to create your Gravatar, visit <a href="http://gravatar.com" target="_blank">Gravatar.com</a>.</strong></p>
          </div>
          <div class="modal-footer">
            <a href="http://gravatar.com" target="_blank" class="btn btn-primary">Go to Gravatar.com <span class="glyphicon glyphicon-chevron-right"></span></a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close <span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="register_form">
    {% from "_formhelpers.html" import render_field %}
    <form class="col-sm-12" id="registration" method=post action="/dashboard" data-parsley-validate>
      {{ form.csrf_token }}
        <div class="row">

          <div class="field username col-sm-6">
            {{ render_field(form.username,placeholder='Username',value=current_user.username)}}
          </div>

          <div class="field email col-sm-6">
            {% if current_user.email is defined %}
              {{ render_field(form.email, placeholder='you@example.com', value=current_user.email) }}

            {% else %}
                {{ render_field(form.email, placeholder='you@example.com') }}

            {% endif %}
          </div>

        </div>

        <div class="row bio">

          <div class="field bio col-sm-12">
            {% if current_user.bio is defined %}
              {% set f = form.bio.process_data(current_user.bio) %}

            {{ render_field(form.bio, placeholder="Tell your matches a little bit about yourself. Don't be shy!") }}

            {% endif %}
          </div>
        </div>


        <div class="row favorite_subs">

          <h4 class="col-sm-12">Favorite Subs</h4>


          {% with favs = current_user.favorited_subs() %}

            {% for idx in range(0, 3)%}

            <div class="field sub col-sm-4">

              {% if favs[idx] %}
                {{ render_field(form['favorite_sub_' + (idx+1)|string], value=favs[idx].name, placeholder='Favorite Sub ' + (idx+1)|string)}}

              {% else %}
                {{ render_field(form['favorite_sub_' + (idx+1)|string], placeholder='Favorite Sub ' + (idx+1)|string)}}

              {% endif %}

            </div>

            {% endfor %}

          {% endwith %}

          <!-- <span class="add_sub glyphicon glyphicon-plus"></span> -->

        </div>

  </div>

</div>

<div>

  <h3>Dating Settings</h3>

</div>

<div class="date controls text-center">

  <div>

    {% from "_formhelpers.html" import render_field %}

    <form class="col-sm-12" id="registration" method=post action="/date" data-parsley-validate>

    {% if current_user.age is defined and current_user.age != None %}
      {% set age = current_user.age %}
    {% else %}
      {% set age = '' %}
    {% endif %}

    <p class="main_criteria">I am a <span class="field">{{render_field(form.age,value=age, placeholder='Age')}}</span> year old <span class="field">{{render_field(form.gender)}}</span> looking for a <span class="field">{{render_field(form.desired_gender, default=2)}}</span>

    <p class="criteria">Between the ages of <span id="min_age_preview">18</span> and <span id="max_age_preview">35</span>.</p>

    <div id="age_slider" class="range_slider"></div>
    <span class="field">{{render_field(form.min_age)}}</span>
    <span class="field">{{render_field(form.max_age)}}</span>

    <p class="criteria">Search up to <span id="radius_preview">50 miles</span> away.</p>
    <div id="radius_slider" class="range_slider"></div>
    <span class="field">{{render_field(form.radius)}}</span>

    <p class="criteria">{{render_field(form.searchable)}} I don't want to show up in other users' date searches.</p>

    <input class="hidden" id="update-button" type=submit value=Update>

  </form>

  </div>

</div>

<div class="row text-center">

  <label for="update-button" id="update-button-label" class="enabled btn btn-primary next-button">Update Profile <span class="glyphicon glyphicon-chevron-right"></span></label>

</div>

{% endif %}

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/vendor/nouislider.min.js')}}"></script>

<script>
  var radius_slider = document.getElementById('radius_slider');
  var age_slider = document.getElementById('age_slider');
  var radius_preview = document.getElementById('radius_preview');
  var radius = document.getElementById('radius');
  var min_age = document.getElementById('min_age');
  var min_age_preview = document.getElementById('min_age_preview');
  var max_age = document.getElementById('max_age');
  var max_age_preview = document.getElementById('max_age_preview');


  noUiSlider.create(radius_slider, {
    start: radius.value,
	connect: 'lower',
  step:1,
	range: {
	  'min': 5,
	  'max': 101
	}
  });

  noUiSlider.create(age_slider, {
    start:[ min_age.value, max_age.value ],
    connect:true,
    step:1,
    range:{
      'min':18,
      'max':56
    }
  });

  radius_slider.noUiSlider.on('update', function(values, handle) {

    if(values[handle] > 100){
      radius_preview.innerHTML = "100+ miles";
    } else {
      radius_preview.innerHTML = parseInt(values[handle]) + ' miles';
    }

    $(radius).val(parseInt(values[handle])).trigger('change');

  });

  var age, preview;

  age_slider.noUiSlider.on('update', function(values, handle) {
    if(values[handle] == 56) {
      preview = '55+'
    } else {
      preview = parseInt(values[handle]);
    }

    age = parseInt(values[handle]);

    if(handle == 0) {
      $(min_age).val(age).trigger('change');
      min_age_preview.innerHTML = preview;
    } else {
      $(max_age).val(age).trigger('change');
      max_age_preview.innerHTML = preview;
    }
  });
</script>
{% endblock %}
