{% extends "base.html" %}
{% block container%}container-fluid{% endblock %}
{% block content %}

  {% if current_user.is_authenticated() %}

  <div class="row main">

    <div class="filters">

      <div class="heading">

        <h3>Filters <span class="help_icon">?</span></h3>

      </div>

      <a href="{{url_for('match')}}"><div class="card selected">Quick Match</div></a>
      <a href="{{url_for('date')}}"><div class="card">Dating</div></a>
      <div class="card coming-soon"><span>Political Action</span></div>
      <div class="card coming-soon"><span>Gaming</span></div>
      <div class="card coming-soon"><span>Foreign Exchange</span></div>

    </div>

    <div class="controls">

      <div class="choices">

        <div class="col-md-12 choice date">

          {% if current_user.age is defined and current_user.age != None and current_user.gender is defined and current_user.gender != None and current_user.location is defined and current_user.location != None %}

            <h2>Find a Date</h2>

            <a href="{{ url_for('date_match') }}">
              <div class="icon"></div>
            </a>

            <p class="description">We'll find you a match based on age, gender, location, and interests!</p>

        {% else %}

          {% from "_formhelpers.html" import render_field %}

          <form class="col-sm-12" id="registration" method=post action="/date" data-parsley-validate>

          {% if current_user.age is defined and current_user.age != None %}
            {% set age = current_user.age %}
          {% else %}
            {% set age = '' %}
          {% endif %}

          <p class="main_criteria">I am a {{render_field(form.age,value=age, placeholder='Age')}} year old {{render_field(form.gender)}} looking for a {{render_field(form.desired_gender)}}

          <p class="criteria">Between the ages of <span id="min_age_preview">18</span> and <span id="max_age_preview">35</span>.</p>

          <div id="age_slider" class="range_slider"></div>
          {{render_field(form.min_age)}}
          {{render_field(form.max_age)}}

          <p class="criteria">Search up to <span id="radius_preview">50 miles</span> away.</p>
          <div id="radius_slider" class="range_slider"></div>
          {{render_field(form.radius)}}

          <p class="criteria">{{render_field(form.searchable)}}<small> I don't want to show up in other users' date searches.</small></p>


          <button class="btn btn-primary" id="next-button" type=submit >Next <span class="glyphicon glyphicon-chevron-right"></span></button>

        </form>

        {% endif %}

        </div>

      </div>

    </div>

    <div id="user_info" class="user_info">

      <div class="card current_user">
        <div class="profile_photo">
          <img src=" {{current_user.avatar(200)}}">
        </div>
        <div class="info">
          <div class="wrapper">
            <span id="conversation_heading" class="username">{{ current_user.username }}</span>

              {% if current_user.age is defined and current_user.age != None %}
                <span class="age">{{ current_user.age }}</span>
              {% endif %}

              {% if current_user.gender is defined and current_user.gender != None %}
                <span class="gender"> {{ current_user.gender }} </span>
              {% endif %}

              {% if current_user.location is defined and current_user.location != None %}
                <span class="location">{{ current_user.location }}</span>
              {% endif %}
          </div>
        </div>
      </div>

      {% with favs = current_user.favorited_subs() %}

      <div class="card">
        <h5>Favorite Subreddits</h5>

        {% for fav in favs %}
          <a class="badge" href="https://reddit.com/r/{{ fav.name }}">/r/{{ fav.name }}</a>
        {% endfor %}

      </div>
      {% endwith %}

      {% if current_user.bio is defined and current_user.bio != None %}


        <div class="card">
          <h5>Bio</h5>
          {{ current_user.bio }}
        </div>

      {% endif %}

      <div class="card">
        <a class="btn btn-primary btn-block" href="{{url_for('dashboard')}}">Update Your Profile <span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>

    </div>

  </div>
  {% endif %}

{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/custom/geo.js')}}"></script>
<script src="{{url_for('static', filename='js/vendor/nouislider.min.js')}}"></script>

<script>
  var radius_slider = document.getElementById('radius_slider');
  var age_slider = document.getElementById('age_slider');
  var radius_preview = document.getElementById('radius_preview');
  var radius = document.getElementById('radius');
  var min_age = document.getElementById('min_age');
  var min_age_preview = document.getElementById('min_age_preview');
  var max_age = document.getElementById('max_age');
  var max_age_preview = document.getElementById('max_age_preview');


  noUiSlider.create(radius_slider, {
    start: radius.value,
	connect: 'lower',
  step:1,
	range: {
	  'min': 5,
	  'max': 101
	}
  });

  noUiSlider.create(age_slider, {
    start:[ min_age.value, max_age.value ],
    connect:true,
    step:1,
    range:{
      'min':18,
      'max':56
    }
  });

  radius_slider.noUiSlider.on('update', function(values, handle) {

    if(values[handle] > 100){
      radius_preview.innerHTML = "100+ miles";
    } else {
      radius_preview.innerHTML = parseInt(values[handle]) + ' miles';
    }

    $(radius).val(parseInt(values[handle])).trigger('change');

  });

  var age, preview;

  age_slider.noUiSlider.on('update', function(values, handle) {
    if(values[handle] == 56) {
      preview = '55+'
    } else {
      preview = parseInt(values[handle]);
    }

    age = parseInt(values[handle]);

    if(handle == 0) {
      $(min_age).val(age).trigger('change');
      min_age_preview.innerHTML = preview;
    } else {
      $(max_age).val(age).trigger('change');
      max_age_preview.innerHTML = preview;
    }
  });
</script>
{% endblock %}
