{% extends "base.html" %}
{% block container%}container-fluid{% endblock %}
{% block page_class%}class="index_page"{% endblock %}
{% block content %}

  <section id="cover" class="clearfix text-center">

    <a class="btn btn-primary pull-right login" href="{{url_for('authorize')}}">Log In</a>

    <div class="col-md-10 col-md-offset-1">

      <div class="row">
        <img src="static/images/white_logo.svg" class="logo">
      </div>

      <div class="copy text-center row">
        <h1>Where Redditors Meet.</h1>
        <h4>Connect with like-minded individuals today.</h4>
      </div>

      <div class="row text-center">

        <a href="{{ url_for('authorize') }}" class="btn btn-primary" role="button">Sign up with Reddit</a>

      </div>

      <div class="row">
          <a class="glyphicon glyphicon-chevron-down more" aria-hidden="true" href="#info" data-scroll=""></a>
      </div>

    </div>

  </section>

  <section id="info" class="text-center">

    <div class="row text-center">

      <h1>Meet and chat with like-minded Redditors.</h1>

    </div>

    <div id="carousel" class="carousel slide animated slideInUp" data-ride="carousel" data-wrap="true">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#screenshot-1" data-slide-to="0" class="active"></li>
            <li data-target="#screenshot-2" data-slide-to="1"></li>
            <li data-target="#screenshot-3" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <img src="{{url_for('static', filename='images/screenshot_1.png')}}" alt="...">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="{{url_for('static', filename='images/screenshot_2.png')}}" alt="...">
              <div class="carousel-caption">
              </div>
            </div>
            <div class="item">
              <img src="{{url_for('static', filename='images/screenshot_3.png')}}" alt="...">
              <div class="carousel-caption">
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
      </div>

      <div class="row">

        <div class = "col-sm-3 text-center col-centered">

          <span class="glyphicon glyphicon-log-in icon" aria-hidden="false"></span>

          <p>Login through Reddit, simply and securely.</p>

        </div>

        <div class = "col-sm-3 text-center col-centered second">

          <span class="glyphicon glyphicon-comment" aria-hidden="false"></span>

          <p>Get paired with people or groups based on your unique reddit interests.</p>

        </div>

        <div class = "col-sm-3 text-center col-centered">

          <span class="glyphicon glyphicon-globe icon" aria-hidden="false"></span>

          <p>Meet someone down the street, or far, far away. It’s all up to you.</p>

        </div>

      </div>

  </section>

  <footer><small>Copyright © 2015 Reddimatch.com | <a href="{{url_for('privacy')}}">Privacy Policy</a></small></footer>

{% endblock %}
