{% extends "base.html" %}
{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class="row">

    <div class="col-md-8 col-md-offset-2 text-center">

      <h1>Reddimatch v0.1.0</h1>

      <a class="btn btn-default" role="button" href="{{ url_for('authorize') }}">Log in with reddit</a>

    </div>

  </div>

{% endblock %}
