{% extends "base.html" %}
{% block container%}container{% endblock %}
{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% if current_user.is_authenticated() %}

    {% with matches = current_user.get_matches() %}

      {% if matches.count() > 0 %}

        <h2>Your active conversations:</h2>

        <ul>

        {% for match in matches %}

          <li>{{match.username}}</li>

        {% endfor %}

        </ul>

      {% else %}

      <h2>You don't have any active conversations right now.</h2>
      <p>Why don't you go <a href="{{ url_for('match')}}">match</a> with someone?</a>

      {% endif %}

    {% endwith %}

  {% endif %}

{% endblock %}
