{% extends "base.html" %}
{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% if current_user.is_authenticated() %}

  <div class="row">

    <div class="col-md-10 col-md-offset-1 text-center">

      <h1>So far, so good! Who would you like to meet?</h2>

      <a class="btn btn-default" role="button" href="{{ url_for('friend') }}">Friend</a>
      <a class="btn btn-default" role="button" href="{{ url_for('date') }}">Date</a>

    </div>

  </div>

  {% endif %}

{% endblock %}
