{% extends "base.html" %}
{% block container%}container-fluid{% endblock %}
{% block content %}

  {% if current_user.is_authenticated() %}

  <div class="row main">

    <div class="filters">

      <div class="heading">

        <h3>Filters <span class="help_icon">?</span></h3>

      </div>

      <a href="{{url_for('match')}}"><div class="card selected">Quick Match</div></a>
      <a href="{{url_for('date')}}"><div class="card">Dating</div></a>
      <div class="card coming-soon"><span>Political Action</span></div>
      <div class="card coming-soon"><span>Gaming</span></div>
      <div class="card coming-soon"><span>Foreign Exchange</span></div>

    </div>

    <div class="controls">

      <div class="choices">

        <div class="col-md-12 choice friend">

          <h2>Quick Match</h2>

          <a href="{{ url_for('quick_match') }}">
            <div class="icon"></div>
          </a>

          <p class="description">We'll find you a match <i>auto-magically</i> based on your reddit profile.</p>

          <a class="btn btn-primary" href="{{ url_for('quick_match') }}">Quick Match <span class="glyphicon glyphicon-chevron-right"></span></a>

        </div>

      </div>

    </div>

    <div id="user_info" class="user_info">

      <div class="card current_user">
        <div class="profile_photo">
          <img src=" {{current_user.avatar(200)}}">
        </div>
        <div class="info">
          <div class="wrapper">
            <span id="conversation_heading" class="username">{{ current_user.username }}</span>

              {% if current_user.age is defined and current_user.age != None %}
                <span class="age">{{ current_user.age }}</span>
              {% endif %}

              {% if current_user.gender is defined and current_user.gender != None %}
                <span class="gender"> {{ current_user.gender }} </span>
              {% endif %}

              {% if current_user.location is defined and current_user.location != None %}
                <span class="location">{{ current_user.location }}</span>
              {% endif %}
          </div>
        </div>
      </div>

      {% with favs = current_user.favorited_subs() %}

      <div class="card">
        <h5>Favorite Subreddits</h5>

        {% for fav in favs %}
          <a class="badge" href="https://reddit.com/r/{{ fav.name }}">/r/{{ fav.name }}</a>
        {% endfor %}

      </div>
      {% endwith %}

      {% if current_user.bio %}

        <div class="card">
          <h5>Bio</h5>
          {{ current_user.bio }}
        </div>

      {% endif %}

      {% if current_user.get_top_comment() and current_user.show_top_comment %}

        {% set comment = current_user.get_top_comment() %}
          <div class="card">

            <h5>Your Top Reddit Comment</h5>

            <div class="text-left top-comment ">

              <div class="comment">
                <p class="comment-info"><small>{{comment.created_utc | pretty_date}} &#0149; {{comment.score}} points</small></p>

                <p class="comment-body">{{comment.body}}</p>

                <p class="comment-info"><small><a href="{{comment.permalink}}">permalink</a> &#0149; <a href="http://reddit.com/r/{{ comment.subreddit }}">/r/{{ comment.subreddit }}</a></small></p>
              </div>

            </div>

          </div>

      {% endif %}

      <div class="card">
        <a class="btn btn-primary btn-block" href="{{url_for('dashboard')}}">Update Your Profile <span class="glyphicon glyphicon-chevron-right"></span></a>
      </div>

    </div>

  </div>
  {% endif %}

{% endblock %}
