{% extends "base.html" %}
{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% if current_user.is_authenticated() %}

    {% if matches != None %}

      <h2>Your matches</h2>

      <ul class="matches">

      {% for match in matches %}

        <li><a href="http://www.reddit.com/user/{{ match }}">http://www.reddit.com/user/{{ match }}</a></li>

      {% endfor %}

      </ul>

    {% endif %}

  {% endif %}

{% endblock %}
