{% extends "base.html" %}
{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% if current_user.is_authenticated() %}

    {% if matches != None %}

      <h2>It's a match!</h2>

      {% if matches[0][0] == 'offsite' %}
        <p>We couldn't find any users on reddimatch, but we did find some potential matches offsite.</p>
      {% endif %}

      <div class="matches">

      {% for match in matches %}

        <a href="https://www.reddit.com/user/{{ match[1] }}">{{ match[1] }}</a></br>

        You matched with <a href="https://www.reddit.com/user/{{ match[1] }}">{{ match[1] }}</a> because you both post in <a href="https://www.reddit.com/r/{{ match[2] }}">/r/{{ match[2] }}</a>.

        </br>
        <small>
          {% if match[0] == 'offsite' %}
            {{ match[1] }} hasn't regsitered for reddimatch, but based on our algorithm we think you two would hit it off. Why not <a href="https://www.reddit.com/message/compose/?to={{ match[1] }}">send them an invite</a>?</br>
          {% endif %}
        </small>

        {% if match[3] is defined %}
          <strong>{{ match[1] }}'s favorite subs:</strong>
          {% for sub in match[3:] %}
            <a href="https://www.reddit.com/r/{{sub}}">/r/{{ sub }}</a>
          {% endfor %}
          </br>
        {% endif %}

        </br>

        {% if match[0] == 'onsite' %}
          <strong>Match:</strong>
          <a href="#">Yes</a>
          <a href="#">No</a>
        {% endif %}

        </br></br>

      {% endfor %}

    </div>

    {% else %}

      <h2>No matches found :(</h2>

    {% endif %}

  {% endif %}

{% endblock %}
