<script type="text/javascript" src="/static/js/vendor/socket.io.js"></script>

{% extends "base-fluid.html" %}
{% block content %}
<script type="text/javascript" src="/static/js/custom/chat.js"></script>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div id="messages" class="row">

    <div id="conversations" class="pull-left">

      {% with matches = current_user.get_matches() %}

        {% if matches.count() > 0 %}

          <ul id="user_list">

          {% for match in matches %}

            {% if loop.index == 1 %}

            <li class="user selected" data-username="{{ match.username }}">

              <span class="profile_photo"></span>
              <div class="info">

                <span class="username">{{match.username}}</span>

                <!-- <span class="time">Just Now</span> -->

              </div>

              <div class="expand text-center glyphicon glyphicon-chevron-right"></div>

            </li>

            {% else %}

            <li class="user" data-username="{{ match.username }}">

              <span class="profile_photo"></span>
              <div class="info">

                <span class="username">{{match.username}}</span>

                <!-- <span class="time">Just Now</span> -->

              </div>

              <div class="expand text-center glyphicon glyphicon-chevron-right"></div>

            </li>

            {% endif %}

          {% endfor %}

          </ul>

        {% else %}

        <h2>You don't have any active conversations right now.</h2>
        <p>Why don't you go <a href="{{ url_for('match')}}">match</a> with someone?</a>

        {% endif %}

      {% endwith %}

    </div>

    <div id="current_conversation">

      <h4 id="conversation_heading" class="text-center"></h4>

      <div id="current_messages"></div>

      <div id="chat_box">

        <textarea id="enter_message" placeholder="Type a message..." contenteditable="true" rows="1"></textarea>
        <span id="submit_message" class="text-center glyphicon glyphicon-send"></span>

      </div>

    </div>

    <div id="user_info">



    </div>

  </div>

{% endblock %}
