{% extends "base.html" %}
{% block container%}container-fluid{% endblock %}
{% block page_class%}class="messages"{% endblock %}
{% block content %}
<!-- TODO refactor to be in line with new chat.js -->

  <div id="messages" class="row">

    <div id="conversations" class="pull-left">

      <ul id="user_list">

        {% with requests = current_user.get_match_requests() %}

          {% if requests %}

            {% for request in requests %}

                <li class="user request" data-username="{{ request.username }}">

                  <div class="profile_photo">

                    <img src="{{ request.avatar(60) }}">

                  </div>
                  <div class="info">

                    <span class="username">{{request.username}}</span>

                    <!-- <span class="time">Just Now</span> -->

                  </div>

                  <div class="right_side">
                    <div class="status"><span class="indicator"></span></div>

                    <div class="expand text-center glyphicon glyphicon-chevron-right"></div>
                  </div>

                </li>

            {% endfor %}

          {% endif %}

        {% endwith %}

        {% with matches = current_user.get_matches() %}

          {% if matches %}

            {% for match in matches %}

              {% if match.is_matched(current_user) %}

                <li class="user accepted" data-username="{{ match.username }}">

                  <div class="profile_photo">

                    <img src="{{ match.avatar(60) }}">

                  </div>
                  <div class="info">

                    <span class="username">{{match.username}}</span>

                    <!-- <span class="time">Just Now</span> -->

                  </div>

                  <div class="right_side">
                    <div class="status"><span class="indicator"></span></div>

                    <div class="expand text-center glyphicon glyphicon-chevron-right"></div>
                  </div>

                </li>

                {% endif %}

            {% endfor %}

            {% for match in matches %}

              {% if not match.is_matched(current_user) %}

                <li class="user unconfirmed" data-username="{{ match.username }}">

                  <div class="profile_photo">

                    <img src="{{ match.avatar(60) }}">

                  </div>
                  <div class="info">

                    <span class="username">{{match.username}}</span>

                    <!-- <span class="time">Just Now</span> -->

                  </div>

                  <div class="right_side">
                    <div class="status"><span class="indicator"></span></div>

                    <div class="expand text-center glyphicon glyphicon-chevron-right"></div>
                  </div>

                </li>

                {% endif %}

            {% endfor %}

            {% else %}

            <!--  No matches -->

            {% endif %}

          </ul>

          <div class="find_another hidden-xs">
            <a href="{{url_for('match')}}" class='btn btn-primary'>Find another match<span class="glyphicon glyphicon glyphicon-chevron-right"></span></a>
          </div>



    </div>

    <div id="current_conversation">

      <div id="current_messages"></div>

      <div id="chat_box">

        <textarea id="enter_message" placeholder="Type a message..." contenteditable="true" rows="1"></textarea>
        <span id="submit_message" class="text-center glyphicon glyphicon-send"></span>

      </div>

    </div>

    <div id="user_info">

    </div>

  </div>

{% endwith %}


{% endblock %}

{% block scripts %}
<script src="{{url_for('static',filename='js/custom/match.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/vendor/socket.io-1.3.7.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/custom/chat.js')}}"></script>
{% endblock %}
