{% extends "base.html" %}
{% block container%}container{% endblock %}
{% block page_class%}class="privacy"{% endblock %}
{% block content %}
    <div class="row text-center">
      <a href="/"><img src="{{url_for('static',filename='images/white_logo.svg')}}" class="logo"></a>
    </div>

    </div>

    <div class="container animated fadeIn">

      <div class="col-md-8 col-md-offset-2">

        <h1>Privacy Policy</h1>

        <p>Protecting your private information is our priority. This Statement of Privacy applies to reddimatch.com and reddimatch Inc. and governs data collection and usage. The reddimatch website is a service used for connecting reddit users based on their common interests and allowing discussion in the form of private or small group social networking. By using the reddimatch website, you consent to the data practices described in this statement.</p>

        <h2>Collection of your Personal Information</h2>

        <p>Reddimatch may collect personally identifiable information, such as your email, age, gender, and location. This information is supplied by you voluntarily and is not required to use the reddimatch service, although some aspects of the service will not be very useful without this information. Reddimatch may also collect anonymous demographic information, which is not unique to you, such as your age and gender. We may gather additional personal or non-personal information in the future, and the privacy policy will be updated at that time to reflect the change.</p>

        <p>Information about your computer hardware and software may be automatically collected by reddimatch. This information can include: your IP address, browser type, domain names, access times and referring website addresses. This information is used for the operation of the service, to maintain quality of the service, and to provide general statistics regarding use of the reddimatch website.</p>

        <p>Please keep in mind that if you directly disclose personally identifiable information or personally sensitive data through reddimatch's public message boards, this information may be collected and used by others.</p>

        <p>Reddimatch encourages you to review the privacy statements of websites you choose to link to from reddimatch so that you can understand how those websites collect, use and share your information. Reddimatch is not responsible for the privacy statements or other content on websites outside of the reddimatch website.</p>

        <h2>Use of your Personal Information</h2>
        <p>Reddimatch collects and uses limited personal information to operate its website(s) and deliver the services you have requested.</p>

        <p>Reddimatch may also use your personally identifiable information to inform you of other products or services available from reddimatch and its affiliates. Reddimatch may also contact you via surveys to conduct research about your opinion of current services or of potential new services that may be offered.</p>

        <p>Reddimatch does not sell, rent or lease its customer lists to third parties.</p>

        <p>Reddimatch may share data with trusted partners to help perform statistical analysis, send you email, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to reddimatch, and they are required to maintain the confidentiality of your information.</p>

        <p>Reddimatch may keep track of the websites and pages our users visit within reddimatch, in order to determine what reddimatch services are the most popular. This data is used to deliver customized content and advertising within reddimatch to customers whose behavior indicates that they are interested in a particular subject area.</p>

        <p>Reddimatch will disclose your personal information, without notice, only if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on reddimatch or the site; (b) protect and defend the rights of property of reddimatch; and, &copy; act under exigent circumstances to protect the personal safety of users of reddimatch, or the public.</p>

        <h2>Use of Cookies</h2>
        <p>The reddimatch website may use "cookies" to help you personalize your online experience. A cookie is a text file that is placed on your hard disk by a web page server. Cookies cannot be used to run programs or deliver viruses to your computer. Cookies are uniquely assigned to you, and can only be read by a web server in the domain that issued the cookie to you.</p>

        <p>One of the primary purposes of cookies is to provide a convenience feature to save you time. The purpose of a cookie is to tell the Web server that you have returned to a specific page. For example, if you personalize reddimatch pages, or register with reddimatch site or services, a cookie helps reddimatch to recall your specific information on subsequent visits. This simplifies the process of recording your personal information, such as billing addresses, shipping addresses, and so on. When you return to the same reddimatch website, the information you previously provided can be retrieved, so you can easily use the reddimatch features that you customized.</p>

        <p>You have the ability to accept or decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies if you prefer. If you choose to decline cookies, you may not be able to fully experience the interactive features of the reddimatch services or websites you visit.</p>

        <h2>Security of your Personal Information</h2>

        <p>Reddimatch secures your personal information from unauthorized access, use or disclosure. When personal information (such as a credit card number) is transmitted to other websites, it is protected through the use of encryption, such as the Secure Sockets Layer (SSL) protocol.</p>

        <h2>Children Under Thirteen</h2>
        <p>Although reddimatch is a general audience website, the use of some services are restricted to individuals age 18 and above. Reddimatch does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this website.</p>

        <h2>Disconnecting your reddimatch Account from Third Party Websites</h2>
        <p>You will be able to connect your reddimatch account to third party accounts, primarily on reddit.com. BY CONNECTING YOUR REDDIMATCH ACCOUNT TO YOUR THIRD PARTY ACCOUNT, YOU ACKNOWLEDGE AND AGREE THAT YOU ARE CONSENTING TO THE CONTINUOUS RELEASE OF INFORMATION ABOUT YOU TO OTHERS (IN ACCORDANCE WITH YOUR PRIVACY SETTINGS ON THOSE THIRD PARTY SITES). IF YOU DO NOT WANT INFORMATION ABOUT YOU, INCLUDING PERSONALLY IDENTIFYING INFORMATION, TO BE SHARED IN THIS MANNER, DO NOT USE THE THIS FEATURE. You may disconnect your account from a third party account at any time. Users may disconnect their reddit account from reddimatch by logging in to their reddit.com account, going to preferences, apps tab, and revoking access via the provided link.</p>

        <h2>Opt-Out & Unsubscribe</h2>
        <p>We respect your privacy and give you an opportunity to opt-out of receiving announcements of certain information. Users may opt-out of receiving any or all communications from reddimatch by contacting us here:
        <br><br>
        Email: <a href="mailto:reddimatch@gmail.com">reddimatch@gmail.com</a></p>

        <h2>Changes to this Statement</h2>
        <p>Reddimatch will occasionally update this Statement of Privacy to reflect company and customer feedback. Reddimatch encourages you to periodically review this Statement to be informed of how reddimatch is protecting your information.</p>

        <h2>Contact Information</h2>
        <p>Reddimatch welcomes your questions or comments regarding this Statement of Privacy. If you believe that reddimatch has not adhered to this Statement, please contact reddimatch at:
        <br><br>
        Reddimatch Privacy Officer<br>
        2 Pennwood Rd<br>
        Lebanon, Pennsylvania 17042<br>
        <br>
        Email Address: <a href="mailto:reddimatch@gmail.com">reddimatch@gmail.com</a>
        <br><br>
        Effective as of July 13, 2015</p>

      </div>

    </div>
{% endblock %}
