{% extends "base.html" %}
{% block content %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% if current_user.is_authenticated() %}

    <h1>Success! Here's how your profile will look to matches.</h1>
    <h3>Fill out as much or as little as you'd like, but keep in mind that matches are more likely to respond to more complete profiles.</h3>

    {% from "_formhelpers.html" import render_field %}
    <form method=post action="/register">
      <dl>
        {{ render_field(form.username,value=current_user.username)}}
        {{ render_field(form.email) }}
        {{ render_field(form.age) }}
        {{ render_field(form.gender) }}
        {{ render_field(form.location) }}
        {{ render_field(form.bio) }}
        {% with favs = current_user.favorited_subs() %}

          {% for idx in range(0, 3)%}

            {% if favs[idx] %}
              {{ render_field(form['favorite_sub_' + (idx+1)|string], value=favs[idx].name)}}

            {% else %}
              {{ render_field(form['favorite_sub_' + (idx+1)|string])}}

            {% endif %}

          {% endfor %}

        {% endwith %}

      </dl>
      <p><input type=submit value=Next>
    </form>

    <h2><strong>Don't worry</strong> - your profile is only shown when you match with someone.

  {% endif %}

{% endblock %}
