{% extends "base.html" %}
{% block container%}container-fluid{% endblock %}
{% block content %}

{% if current_user.is_authenticated() %}

<div class="row text-center">

  <div class="col-sm-12">
    <h1>Success! Here's how your profile will look to matches.</h1>
    <p>Fill out as much or as little as you'd like, but keep in mind that matches are more likely to respond to more complete profiles.</p>
  </div>

</div>

<div class="register row">

  <div class="avatar">

    <img src="{{ current_user.avatar(300) }}">

    <span data-toggle="modal" data-target="#gravatar" class="choose glyphicon glyphicon-camera"></span>

    <!-- Modal -->
    <div class="modal fade" id="gravatar" tabindex="-1" role="dialog" aria-labelledby="gravatarLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="gravatarLabel">Your Avatar</h4>
          </div>
          <div class="modal-body">
            <p>Reddimatch supports Gravatar, the Globally Recognized Avatar, and will use the Gravatar registered with your provided email address.</p>

            <p><strong>To learn more or to create your Gravatar, visit <a href="http://gravatar.com" target="_blank">Gravatar.com</a>.</strong></p>
          </div>
          <div class="modal-footer">
            <a href="http://gravatar.com" target="_blank" class="btn btn-primary">Go to Gravatar.com <span class="glyphicon glyphicon-chevron-right"></span></a>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close <span class="glyphicon glyphicon-remove"></span></button>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="register_form">
    {% from "_formhelpers.html" import render_field %}

    <form class="col-sm-12" id="registration" method=post action="/register" data-parsley-validate>
        {{ form.csrf_token }}

        <div class="row">

          <div class="field username col-sm-6">
            {{ render_field(form.username,placeholder='Username',value=current_user.username)}}
          </div>

          <div class="field email col-sm-6">
            {{ render_field(form.email, placeholder='you@example.com') }}
          </div>

        </div>

        <div class="row bio">

          <div class="field bio col-sm-12">
            {{ render_field(form.bio, placeholder="Tell your matches a little bit about yourself in 140 characters or less.") }}
          </div>
        </div>


        <div class="row favorite_subs">

          <h4 class="col-sm-12">Favorite Subs <span class="help_icon">?</span></h4>


          {% with favs = current_user.favorited_subs() %}

            {% for idx in range(0, 3)%}

            <div class="field sub col-sm-4">

              {% if favs[idx] %}
                {{ render_field(form['favorite_sub_' + (idx+1)|string], value=favs[idx].name, placeholder='Favorite Sub ' + (idx+1)|string)}}

              {% else %}
                {{ render_field(form['favorite_sub_' + (idx+1)|string], placeholder='Favorite Sub ' + (idx+1)|string)}}

              {% endif %}

            </div>

            {% endfor %}

          {% endwith %}

          <!-- <span class="add_sub glyphicon glyphicon-plus"></span> -->

        </div>

      <input class="hidden" id="next-button" type=submit value=Next>
    </form>
  </div>

</div>

  <div class="row text-center">

    <div class="col-sm-12">

      <p><strong>Don't worry</strong> - your profile is only shown when you match with someone.</p>

    </div>

  </div>

  <div class="row text-center">

    <label for="next-button" class="btn btn-primary next-button">Next <span class="glyphicon glyphicon-chevron-right"></span></label>

  </div>

{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/vendor/parsley.min.js')}}"></script>

<script type="text/javascript">
  $('form').parsley();
</script>
{% endblock %}
